.App {
  font-family: sans-serif;
  color: red;
  text-align: center;
}
.Child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
}
